#footer{
background:rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
color:white;
}

.footer-top-wrapper {
    background: rgba(0, 0, 0, 0) url("/ilc/sites/all/themes/responsive_green/images/footer-top-bg.jpg") repeat scroll 0 0;
    text-align: center;
	height: 45px;
	 box-sizing: border-box;
}

